@import url('https://fonts.googleapis.com/css?family=Gugi');

body {
  font-family: 'Gugi', cursive;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.home-h1 {
  color: #1a41c2;
}

.logo {
  width: 10vw;
}

a {
  text-decoration: none;
  color: #1a41c2;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
  margin-top: 50px;
  font-family: 'Gugi', cursive;
}

::-webkit-input-placeholder {
  font-family: 'Gugi', cursive;
  font-style: italic;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.avatar {
  width: 150px;
  border-radius: 25%;
}

.space-list-items {
  margin-bottom: 7px;
  text-align: center;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  margin-bottom: 5vh;
  margin-left: 2vw;
}

.nav li {
  letter-spacing: 1px;
  margin-right: 15px;
}

.active {
  font-weight: bold;
  text-shadow:
    -.5px -.5px 0 #1a41c2,
    .5px -.5px 0 #1a41c2,
    -.5px .5px 0 #1a41c2,
    .5px .5px 0 #1a41c2;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  color: #1a41c2;
}

.reset {
  border: none;
  background: transparent;
  color: #1a41c2; 
  font-size: 15px;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}